@media screen and (max-width: 1400px) {
    .profile-section {
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-rightsection-container {
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 600px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        padding-top: 20px;
        padding-left: 20px;
    }

    .profile-section {
        margin-top: 20px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .profile-section>div {
        width: 90vw;
    }

    .left-section-icon {
        margin-top: 50px;
    }

    .rightsection img {
        display: none;
    }

    .about-side-head {
        display: none;
    }

    .about-section {
        width: 90vw;
        margin: auto;
    }

    .about-rightsection-details {
        flex-direction: column;
    }

    .about-rightsection-container {
        width: 90vw;
        margin: 10px 0;
    }

    .experience {
        margin-top: 50px;
    }

    .experience-container {
        flex-direction: column;
    }

    .experience-details-container {
        width: 90vw;
        margin: auto;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .projects {
        margin-top: 50px;
    }

    .projects-container {
        flex-direction: column;
    }

    .detailscontainer {
        margin-bottom: 30px;
    }

    .contact {
        margin-top: 50px;
    }

    .contact-info-container {
        width: 90vw;
        flex-direction: column;
        border: none;
        font-size: small;
    }

    footer nav .nav-links-container {
        display: none;
    }

    .footer-nav {
        height: 10vh;
    }
}